nav{
    background-color: rgba(116, 198, 157, 1);
}

#navbarSupportedContent ul li a{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.navbar-toggler{
    border: none;
}